<!DOCTYPE html>
<html>
    <head>
        <title>
         MSCNS Real-Time Messaging
        </title>
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0"/>
		<link rel="stylesheet" href="css/styles.css"/>
    </head>

	<body>

    <div id="content"></div>

    <!-- jquery mobile templates to be handled by underscore for backbone -->

    <!-- individual message li template - multiples form a collection appended to a ul dynamically -->
    <script type="text/template" id="message-list-item">
        <a href="#<%= id %>/" class="pad-right">
            <h4><%= name %></h4>
            <p><%= description %></p>
        </a>
    </script>

    <!-- Message Create View -->
    <script type="text/template" id="message-create-item">
        <div class="header">
            <a href="#" class="header-button header-button-left header-back-button">
                <button>Back</button>
            </a>
            <h1>Create Message</h1>
            <a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
                <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
            </a>
        </div>

        <div class="scroll striped" style="top:44px;">
            <h3>Create a new Message</h3>
            <ul class="tableview tableview-links">

                <li><label for="name">Name:</label></li>
                <li><input id="name" type="text" name="name" data-mini="true" value="<%= name %>" required /></li>
                <li>                <label for="description">Message:</label></li>
                <li><textarea id="description" name="description" value="<%= description %>" /></li>

                <li>
                    <a href="#" class="save pad-right">
                        Create
                        <span class="metadata"></span>
                    </a>
                    <a href="#" class="detail-disclosure"><span></span></a>
                </li>
            </ul>
        </div>
    </script>

    <!-- message detail template -->
    <script type="text/template" id="message-detail">
        <div class="header">
            <a href="#" class="header-button header-button-left header-back-button">
                <button>Back</button>
            </a>
            <h1>Message Detail</h1>
            <a href="#" class="header-button header-button-icon header-button-right search" id="view-home-refresh">
                <button><img src="css/images/search-icon.png" alt="Refresh" width="16" height="16"></button>
            </a>
        </div>

        <div class="scroll striped" style="top:44px;">
            <div class="message-details">
                <header>
                    <h3><%= name %></h3>
                    <p><%= description %></p>
                </header>
            </div>

            <ul class="tableview tableview-links action-list">
                <li><a class="delete back" href="#"><h3>Delete Message</h3></a></li>
                <li><a href="mailto:dhart@mscns.com"><h3>Email</h3><p></p></a></li>
            </ul>

        </div>
    </script>

    <!-- Search Header -->
    <script type="text/template" id="search-main">
        <div class="header">
            <h1>MSCNS IM</h1>
            <a href="#" class="add-message header-button header-button-icon header-button-right">
                <button>
                Add Message
                </button>
            </a>
        </div>

        <div style="height: 34px; padding-left: 6px; padding-right: 6px; padding-top: 5px; margin-bottom:6px; border-bottom: solid 1px #666">
            <input type="search" class="search-query search-key" placeholder="Search" style="width:100%;font-size: 14px; padding-top:2px; padding-bottom: 2px; margin-top:2px;margin-bottom:2px;border: solid 1px #777777;"/>
        </div>

        <div id="welcome" style="padding: 12px; text-align: center;">
            <img src="img/mscns_black_logo.png" style="padding-top: 40px;">

            <h2>Welcome to the MSCNS IM app.</h2>
        </div>


        <div class="scroll striped" style="top:84px;">
            <ul id='myList' class="tableview tableview-links"></ul>
        </div>
    </script>


		
    <!-- Scripts -->
	<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- change ajax defaults -->
    <script type="text/javascript">
        $(document).ready(function() {
            $.ajaxSetup({
                /* cache: false, */
                crossDomain: true
            });
        });
    </script>

    <!-- Include Backbone and underscore -->
    <script src="js/libs/underscore-min.js"></script>
    <script src="js/libs/backbone-min.js"></script>
    <script src="js/libs/backbone-live.js"></script>
    
    <!-- Include our backbone app layout -->
    <script src="js/app.js"></script>
    
</body>
</html>